body{
    background-color: orangered;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px; /*deja espacio entre los inputs*/
}

.inputComp{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}